/* 全局样式 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f5f5f5;
}

/* 主容器样式 */
#App {
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: fit-content;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  gap: 20px;
  align-items: flex-start; /* 让子元素从顶部开始，不会跟随其他元素的高度 */
}

.text {
  flex: 1; /* 让文本占据剩余空间 */
  font-size: 16px;
  line-height: 1.2;
}

.date{
  font-size: 14px;
}

.title{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}