#navigation-panel {
  width: 100%;
  height: 50px;
  /* background-color: antiquewhite; */
  display: flex;
  justify-content: center;  /* 水平居中 */
  align-items: center;     /* 垂直居中 */
  gap: 40px;              /* 两个项目之间的间距 */
}

.nav-item {
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;        /* 鼠标悬停时显示手型 */
  transition: color 0.3s; /* 添加颜色过渡效果 */
}

.nav-item:hover {
  color: #666;           /* 鼠标悬停时改变颜色 */
}
